@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

p {
  color: #6A859C;
  line-height: 1.8;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.title__wrapper {
  margin: 80px 60px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content: center;
  align-items: center;
}

.section__title {
  color: #676770;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section__subtitle {
  color: #8E8E9C;
  font-size: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.common__section {
  text-align: center;
  padding: 80px 0;
}

.common__section-dark {
  background-color: #192024;;
}

.common__section-dark * {
  color: #fff;
}


/* HEADER */

.header {
  padding: 17px 18px;
  position: fixed;
  background-color: #fff;
  /* box-shadow: 0px 0px 8px rgba(0,0,0,0.1); */
  width: 100%;
  z-index: 100;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #69B9FF;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header__nav {
  
}

.link__container {
  display: flex;
  gap: 40px;
}

.header__link {
  color: #676770;
  font-size: 16px;
  transition: color 0.2s;
}

.header__link:hover {
  color: #69B9FF;
}

/* WELCOME */

.welcome {
  /* max-width: 940px; */
  min-height: 600px;
  height: 100vh;
  margin: 0 auto;
  padding: 195px 0;
  background-image: url("../img/welcome-bg.jpeg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__heading {
  margin-bottom: 106px;
  font-size: 59px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.welcome__links {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
  
}

.link-primary {
  display: inline-block;
  border-radius: 4px;
  background: #69B9FF;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 30px;
  letter-spacing: 2px;
  transition: background-color 0.3s;
}

.link-primary:hover {
  background-color: #0f8fff;
}

.link {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* transition: background-color 0.3s; */
}

.link:hover {
  background-color: rgb(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.link:active {
  background-color: rgb(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.5);
}

/* ABOUT */

.about {
  
}

.about .cards__wrapper {
  margin-bottom: 80px;
  display: flex;
  /* gap: 20px; */
  justify-content: space-between;
  text-align: center;
}

.about .card {
  width: 300px;
  padding: 35px 15px 25px;
  border-radius: 5px;
  border: 1px solid #DCEBF7;
}

.card-image {
  margin-bottom: 19px;
  width: 94px;
  height: 94px;
  object-fit: contain;
}

.card-title {
  margin-bottom: 14px;
  color: #676770;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.card-subtitle {
  color: #6A859C;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* SERVICES */

.services {

}

.services .cards__wrapper {
  display: flex;
  justify-content: space-between;
}

.services .card {
  width: 45%;
}

.services-image {
  margin-bottom: 20px;
}

.services-title {
  margin-bottom: 14px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.services-subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

.services .link {
  margin-top: 20px;
}

