@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6A859C;
  line-height: 1.8;
}

/* HEADER */

.header {
  padding: 17px 18px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #69B9FF;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header__nav {
  
}

.link__container {
  display: flex;
  gap: 40px;
}

.header__link {
  color: #676770;
  font-size: 16px;
  transition: color 0.2s;
}

.header__link:hover {
  color: #69B9FF;
}

