@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6A859C;
  line-height: 1.8;
}

/* HEADER */

.header {
  padding: 17px 18px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #69B9FF;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header__nav {
  
}

.link__container {
  display: flex;
  gap: 40px;
}

.header__link {
  color: #676770;
  font-size: 16px;
  transition: color 0.2s;
}

.header__link:hover {
  color: #69B9FF;
}

/* WELCOME */

.welcome {
  /* max-width: 940px; */
  min-height: 600px;
  height: 100vh;
  margin: 0 auto;
  padding: 195px 0;
  background-image: url("../img/welcome-bg.jpeg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__heading {
  margin-bottom: 106px;
  font-size: 59px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.welcome__links {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
  
}

.link-primary {
  display: inline-block;
  border-radius: 4px;
  background: #69B9FF;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 30px;
  letter-spacing: 2px;
  transition: background-color 0.3s;
}

.link-primary:hover {
  background-color: #0f8fff;
}

.link {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* transition: background-color 0.3s; */
}

.link:hover {
  background-color: rgb(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.link:active {
  background-color: rgb(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.5);
}
